/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.etsy.apis

import com.etsy.models.ErrorSchema
import com.etsy.models.ShopProcessingProfile
import com.etsy.models.ShopProcessingProfiles

import com.etsy.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class ShopProcessingProfilesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)


    /**
     * enum for parameter readinessState
     */
    @Serializable
    enum class ReadinessStateCreateShopReadinessStateDefinition(val value: kotlin.String) {
        
        @SerialName(value = "ready_to_ship")
        ready_to_ship("ready_to_ship"),
        
        @SerialName(value = "made_to_order")
        made_to_order("made_to_order")
        
    }


    /**
     * enum for parameter processingTimeUnit
     */
    @Serializable
    enum class ProcessingTimeUnitCreateShopReadinessStateDefinition(val value: kotlin.String) {
        
        @SerialName(value = "days")
        days("days"),
        
        @SerialName(value = "weeks")
        weeks("weeks")
        
    }

    /**
     * 
     * &lt;div class&#x3D;\&quot;wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\&quot;&gt;&lt;span class&#x3D;\&quot;wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2\&quot;&gt;General Release&lt;/span&gt;&lt;a class&#x3D;\&quot;wt-text-link\&quot; href&#x3D;\&quot;https://github.com/etsy/open-api/discussions\&quot; target&#x3D;\&quot;_blank\&quot; rel&#x3D;\&quot;noopener noreferrer\&quot;&gt;Report bug&lt;/a&gt;&lt;/div&gt;&lt;div class&#x3D;\&quot;wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\&quot;&gt;&lt;p class&#x3D;\&quot;wt-text-body-01 banner-text\&quot;&gt;This endpoint is ready for production use.&lt;/p&gt;&lt;/div&gt;  Creates a new ReadinessStateDefinition. If an existing definition matches the input values, this endpoint will throw a Conflict error, please refer to the Content-Location header to obtain the get endpoint url for the values of the existing definition. Does not affect the product offering-readiness states definition relationship.
     * @param shopId The unique positive non-zero numeric ID for an Etsy Shop.
     * @param readinessState The readiness state of a product: \\\\\\\&quot;1\\\\\\\&quot; means \\\\\\\&quot;ready_to_ship\\\\\\\&quot;, and \\\\\\\&quot;2\\\\\\\&quot; means \\\\\\\&quot;made_to_order\\\\\\\&quot;
     * @param minProcessingTime The minimum number of days or weeks for processing a specific product.
     * @param maxProcessingTime The maximum number of days or weeks for processing a specific product.
     * @param processingTimeUnit The unit used to represent how long a processing time is. A week is equivalent to how many days the seller works per week as stated in their processing schedule. If none is provided, the unit is set to \\\\\\\&quot;days\\\\\\\&quot;. (optional, default to days)
     * @return ShopProcessingProfile
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createShopReadinessStateDefinition(shopId: kotlin.Long, readinessState: ReadinessStateCreateShopReadinessStateDefinition, minProcessingTime: kotlin.Int, maxProcessingTime: kotlin.Int, processingTimeUnit: ProcessingTimeUnitCreateShopReadinessStateDefinition? = ProcessingTimeUnitCreateShopReadinessStateDefinition.days): HttpResponse<ShopProcessingProfile> {

        val localVariableAuthNames = listOf<String>("api_key", "oauth2")

        val localVariableBody = 
            ParametersBuilder().also {
                readinessState?.apply { it.append("readiness_state", readinessState.toString()) }
                minProcessingTime?.apply { it.append("min_processing_time", minProcessingTime.toString()) }
                maxProcessingTime?.apply { it.append("max_processing_time", maxProcessingTime.toString()) }
                processingTimeUnit?.apply { it.append("processing_time_unit", processingTimeUnit.toString()) }
            }.build()

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v3/application/shops/{shop_id}/readiness-state-definitions".replace("{" + "shop_id" + "}", "$shopId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return urlEncodedFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * &lt;div class&#x3D;\&quot;wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\&quot;&gt;&lt;span class&#x3D;\&quot;wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2\&quot;&gt;General Release&lt;/span&gt;&lt;a class&#x3D;\&quot;wt-text-link\&quot; href&#x3D;\&quot;https://github.com/etsy/open-api/discussions\&quot; target&#x3D;\&quot;_blank\&quot; rel&#x3D;\&quot;noopener noreferrer\&quot;&gt;Report bug&lt;/a&gt;&lt;/div&gt;&lt;div class&#x3D;\&quot;wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\&quot;&gt;&lt;p class&#x3D;\&quot;wt-text-body-01 banner-text\&quot;&gt;This endpoint is ready for production use.&lt;/p&gt;&lt;/div&gt;  Deletes a ReadinessStateDefinition by given readiness state definition ID. If there any active offerings linked to the definition, this endpoint will throw a Bad Request error. If you want to delete a ReadinessStateDefinition that is linked to active offerings, you must link the offerings to a different readiness state definition.
     * @param shopId The unique positive non-zero numeric ID for an Etsy Shop.
     * @param readinessStateDefinitionId The numeric ID of the [processing profile](/documentation/reference#operation/getShopReadinessStateDefinition) associated with the listing. Required when listing type is &#x60;physical&#x60;.
     * @return void
     */
    open suspend fun deleteShopReadinessStateDefinition(shopId: kotlin.Long, readinessStateDefinitionId: kotlin.Long): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("api_key", "oauth2")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/v3/application/shops/{shop_id}/readiness-state-definitions/{readiness_state_definition_id}".replace("{" + "shop_id" + "}", "$shopId").replace("{" + "readiness_state_definition_id" + "}", "$readinessStateDefinitionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * &lt;div class&#x3D;\&quot;wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\&quot;&gt;&lt;span class&#x3D;\&quot;wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2\&quot;&gt;General Release&lt;/span&gt;&lt;a class&#x3D;\&quot;wt-text-link\&quot; href&#x3D;\&quot;https://github.com/etsy/open-api/discussions\&quot; target&#x3D;\&quot;_blank\&quot; rel&#x3D;\&quot;noopener noreferrer\&quot;&gt;Report bug&lt;/a&gt;&lt;/div&gt;&lt;div class&#x3D;\&quot;wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\&quot;&gt;&lt;p class&#x3D;\&quot;wt-text-body-01 banner-text\&quot;&gt;This endpoint is ready for production use.&lt;/p&gt;&lt;/div&gt;  Retrieves a ProcessingProfile referenced by readiness state definition ID.
     * @param shopId The unique positive non-zero numeric ID for an Etsy Shop.
     * @param readinessStateDefinitionId The numeric ID of the [processing profile](/documentation/reference#operation/getShopReadinessStateDefinition) associated with the listing. Required when listing type is &#x60;physical&#x60;.
     * @return ShopProcessingProfile
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getShopReadinessStateDefinition(shopId: kotlin.Long, readinessStateDefinitionId: kotlin.Long): HttpResponse<ShopProcessingProfile> {

        val localVariableAuthNames = listOf<String>("api_key", "oauth2")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v3/application/shops/{shop_id}/readiness-state-definitions/{readiness_state_definition_id}".replace("{" + "shop_id" + "}", "$shopId").replace("{" + "readiness_state_definition_id" + "}", "$readinessStateDefinitionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * &lt;div class&#x3D;\&quot;wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\&quot;&gt;&lt;span class&#x3D;\&quot;wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2\&quot;&gt;General Release&lt;/span&gt;&lt;a class&#x3D;\&quot;wt-text-link\&quot; href&#x3D;\&quot;https://github.com/etsy/open-api/discussions\&quot; target&#x3D;\&quot;_blank\&quot; rel&#x3D;\&quot;noopener noreferrer\&quot;&gt;Report bug&lt;/a&gt;&lt;/div&gt;&lt;div class&#x3D;\&quot;wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\&quot;&gt;&lt;p class&#x3D;\&quot;wt-text-body-01 banner-text\&quot;&gt;This endpoint is ready for production use.&lt;/p&gt;&lt;/div&gt;  Retrieves a list of ProcessingProfiles available in the specific Etsy shop identified by its shop ID.
     * @param shopId The unique positive non-zero numeric ID for an Etsy Shop.
     * @param limit The maximum number of results to return. (optional, default to 25)
     * @param offset The number of records to skip before selecting the first result. (optional, default to 0)
     * @return ShopProcessingProfiles
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getShopReadinessStateDefinitions(shopId: kotlin.Long, limit: kotlin.Int? = 25, offset: kotlin.Int? = 0): HttpResponse<ShopProcessingProfiles> {

        val localVariableAuthNames = listOf<String>("api_key", "oauth2")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v3/application/shops/{shop_id}/readiness-state-definitions".replace("{" + "shop_id" + "}", "$shopId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * enum for parameter readinessState
     */
    @Serializable
    enum class ReadinessStateUpdateShopReadinessStateDefinition(val value: kotlin.String) {
        
        @SerialName(value = "ready_to_ship")
        ready_to_ship("ready_to_ship"),
        
        @SerialName(value = "made_to_order")
        made_to_order("made_to_order")
        
    }


    /**
     * enum for parameter processingTimeUnit
     */
    @Serializable
    enum class ProcessingTimeUnitUpdateShopReadinessStateDefinition(val value: kotlin.String) {
        
        @SerialName(value = "days")
        days("days"),
        
        @SerialName(value = "weeks")
        weeks("weeks")
        
    }

    /**
     * 
     * &lt;div class&#x3D;\&quot;wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\&quot;&gt;&lt;span class&#x3D;\&quot;wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2\&quot;&gt;General Release&lt;/span&gt;&lt;a class&#x3D;\&quot;wt-text-link\&quot; href&#x3D;\&quot;https://github.com/etsy/open-api/discussions\&quot; target&#x3D;\&quot;_blank\&quot; rel&#x3D;\&quot;noopener noreferrer\&quot;&gt;Report bug&lt;/a&gt;&lt;/div&gt;&lt;div class&#x3D;\&quot;wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\&quot;&gt;&lt;p class&#x3D;\&quot;wt-text-body-01 banner-text\&quot;&gt;This endpoint is ready for production use.&lt;/p&gt;&lt;/div&gt;  Updates an existing ReadinessStateDefinition. If an existing definition matches the input values, this endpoint will throw a Conflict error, please refer to the Content-Location header to obtain the get endpoint url for the values of the existing definition. Does not affect the product offering-readiness states definition relationship.
     * @param shopId The unique positive non-zero numeric ID for an Etsy Shop.
     * @param readinessStateDefinitionId The numeric ID of the [processing profile](/documentation/reference#operation/getShopReadinessStateDefinition) associated with the listing. Required when listing type is &#x60;physical&#x60;.
     * @param readinessState The readiness state of a product: \\\\\\\&quot;1\\\\\\\&quot; means \\\\\\\&quot;ready_to_ship\\\\\\\&quot;, and \\\\\\\&quot;2\\\\\\\&quot; means \\\\\\\&quot;made_to_order\\\\\\\&quot; (optional)
     * @param minProcessingTime The minimum number of days or weeks for processing a specific product. (optional)
     * @param maxProcessingTime The maximum number of days or weeks for processing a specific product. (optional)
     * @param processingTimeUnit The unit used to represent how long a processing time is. A week is equivalent to how many days the seller works per week as stated in their processing schedule. If none is provided, the unit is set to \\\\\\\&quot;days\\\\\\\&quot;. (optional, default to days)
     * @return ShopProcessingProfile
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateShopReadinessStateDefinition(shopId: kotlin.Long, readinessStateDefinitionId: kotlin.Long, readinessState: ReadinessStateUpdateShopReadinessStateDefinition? = null, minProcessingTime: kotlin.Int? = null, maxProcessingTime: kotlin.Int? = null, processingTimeUnit: ProcessingTimeUnitUpdateShopReadinessStateDefinition? = ProcessingTimeUnitUpdateShopReadinessStateDefinition.days): HttpResponse<ShopProcessingProfile> {

        val localVariableAuthNames = listOf<String>("api_key", "oauth2")

        val localVariableBody = 
            ParametersBuilder().also {
                readinessState?.apply { it.append("readiness_state", readinessState.toString()) }
                minProcessingTime?.apply { it.append("min_processing_time", minProcessingTime.toString()) }
                maxProcessingTime?.apply { it.append("max_processing_time", maxProcessingTime.toString()) }
                processingTimeUnit?.apply { it.append("processing_time_unit", processingTimeUnit.toString()) }
            }.build()

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/v3/application/shops/{shop_id}/readiness-state-definitions/{readiness_state_definition_id}".replace("{" + "shop_id" + "}", "$shopId").replace("{" + "readiness_state_definition_id" + "}", "$readinessStateDefinitionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return urlEncodedFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
